#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tournament-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
}

/* Container */
.bracket-container {
  top: 0;
  left: 0;
  position: absolute;
  padding: 40px;
  align-items: center;
}

/* Bracket Layout */
.bracket {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Each Round Column */
.round {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Battle Container */
.battle-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* Battle Styling */
.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 8px;
  background: #f9f9f9;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.battle:hover {
  background: #ddd;
}

/* Team Names */
.team {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* Winner Highlight */
.winner {
  color: green;
  font-weight: bold;
}

/* VS Separator */
.vs {
  font-size: 14px;
  margin: 5px 0;
  color: #888;
}

.step1 {
  top: 0;
  position: absolute;
  transform: translateX(-50%);
  align-items: center;
}

.tournament-title {
  flex: 1;
  text-align: center;
  width: fit-content;  
}

.clickable-text {
  cursor: pointer;
}

.clickable-text:hover {
  color: #42a5f5;
}

.menu-box {
  padding-top: 20px;
}